* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  height: 100%;
  width: 100%;
  background-color: #212121;
  padding: 20px;
  overflow: hidden;
}
.herosection{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  padding: 15px;
  background-color: #2f2f2f;
}
.card img {
  width: 220px;
  height: 190px;       /* chhoti height */
  object-fit: cover;
  object-position: top center !important;
  border-radius: 10px;
  display: block;
}

.card h2,
.card p {
  width: 200px;
  margin-top: 5px;
  color: white;
}
.card p{
  font-size: 10px;
  color: #727272;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  gap: 10px !important;
}
.bottom .one, .bottom .two{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #727272;
}
.bottom button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #343434;
  box-shadow:  2px 2px 5px #212121;
}
.bottom .one span, .bottom .two span, .bottom button span{
  font-size: 14px;
  color: white;
  font-weight: 500;
}