*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
main{
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}
.navbar{
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
  margin-bottom: 20px;
  h2{
    text-align: center;
    font-weight: 700;
    font-size: 19px;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: 200;
    text-align: center;
    font-size: 12px;
  }
  button{
    padding: 6px;
    width: 100px;
    border: none;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    justify-self: center;
  }
}
.Sectionone {
  height: 80vh;
  width: 100vw;
  /* background-color: lightsalmon; */
  display: flex;
  justify-content: center;
}

.Sectionone .container {
  height: 100%;
  width: 80vw;
  position: relative;
  background-color: lightgreen;
  overflow: hidden;
  border-radius: 20px;
}

.Sectionone .container img {
  width: 100%;
  object-fit: cover;
}
.Sectionone .container .sectiononeh1{
  width: 75%;
  position: absolute;
  top: 20%;
  left: 10%;
  color: rgb(193, 192, 192);
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}
.Sectionone .container .sectiononep{
  width: 50%;
  position: absolute;
  top: 43%;
  left: 20%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.Sectionone .container .sectiononebtn{
  position: absolute;
  top: 74.5%;
  left: 40%;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 20px;
  background-color: rgb(30, 30, 30);
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}